<%# only work off one variable fore each view page%>
<% if @comment.item %> <%# if @comment.item, means if it is nested %>
  <h1>New Comment for <%= @comment.item.name %></h1>
<% else%>
  <h1>New Comment</h1>
<% end %>
<%= render partial: "layouts/errors", locals: {object: @comment} %>
<%= form_for [@comment.item, @comment] do |f| %>
  <%# get the nested form to redirect to item/:id/comments  %>
  <%= hidden_field_or_display_collection_select %>
  <%= f.label :content %>:<br>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>
