<h1>New Item!</h1>

<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this from being saved:</h2>

    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @item do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
    <%= f.label :image %><br>
    <%= f.text_field :image %><br>
    
    <%= f.label :price %><br>
    <%= f.number_field :price, step: 0.01 %><br>
    
    <%= f.label :description %><br>
    <%= f.text_field :description %><br>

    <%= f.submit %>
<% end %>