<h1><%= @item.name %></h1>
<h2>By: <%= @item.user.first_name %> <%= @item.user.last_name %></h2>

<div>
    <p><%= image_tag(@item.image, alt: "Item Image") %><p>
    <p>$<%= @item.price %><p>
    <p><%= @item.description %><p>
    <p><%= @item.content %><p>
</div>

<p><%= link_to "See All Comments", item_comments_path(@item) %></p> <%# the argument we have to let them know which specific item we want to see the comments of%>
<p><%= link_to "Add New Comment", new_item_comment_path(@item) %></p> 

<h4>Comments:</h4>
<% @comments.each do |comment| %>
    <li><%= comment.user.first_name %> says "<%= link_to comment.content, item_comment_path(@item, comment) %>"</li> <%#make sure to have 2 arguments for item_comment_path%>
<% end %><br>

<%= link_to "Update Item", edit_item_path %><br><br>
<%= button_to "Delete Item", item_path(@item), :method => "delete" %>
