<!DOCTYPE html>
<html>
  <head>
    <title>CarolineDambrosioDesigns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%# is there a way to log to take away this conditional logic in the views%>
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: "delete" %> |
        <%= link_to "Add an Item", new_item_path %> | 
        <%= link_to "All Items", items_path %> |
        <%= link_to "Add a Comment", new_comment_path %>
      <% else %>
        <%= link_to "Sign Up", signup_path %> |
        <%= link_to "Log In", login_path %> 
      <% end %>
    </div>

    <%= flash[:message] if flash[:message] %>
    <%= @error %>
    <%= yield %>
  </body>
</html>
